{% extends 'main/base.html'%}
{% load staticfiles %}
{% block base %}
<title>Members</title>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="members">
          <h1 class="page-header">Members</h1>
          <form method="get">
            <div class="md-form mt-0" style="width:100%;">
              <div style="display:flex; justify-content: center; margin-bottom: 20px;">

                <input class="form-control" type="text" name="q" style="display: inline; max-width: 50%;"
                  placeholder="Search">
                <input type="submit" class="btn btn-danger" style="display: inline; margin-left: 5px;" value="Search">

              </div>
            </div>
          </form>
          {%if members %}
          {% for member in members %}

          <div class="row member-row">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <img src="{{member.img.url}}" class="img-thumbnail" style="min-height: 100px; min-width: 100px;">
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 member-detail-section">
              <h3>{{member.user.first_name}} {{member.user.last_name}}</h3>
              <h5>{% if member.profession|length is not 0%}{{member.profession}}{%endif%}</h5>
              <div style="margin-top: 20px;">
                <a href="#" class="btn btn-info btn-block member-btn">Follow</a>
                <a href="#" class="btn btn-success btn-block member-btn">Message</a>
                <a href="#" class="btn btn-danger btn-block member-btn">View Profile</a>
              </div>
            </div>
          </div>

          {% endfor %}
          {%else%}
          <h4>No Member Found</h4>
          {%endif%}

        </div>

        <div>
          {% if members.has_previous %}
          <a href="?page={{ members.previous_page_number }}" class="btn btn-success pagination-btn">
            Page {{ members.previous_page_number }}</a> {%endif%} {% if members.has_next %} <a
            href="?page={{ members.next_page_number }}" class="btn btn-success float-right pagination-btn">Page
            {{ members.next_page_number }}
          </a>
          {%endif%}
        </div>

      </div><!-- col-md-8 end -->

      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title">My Friends</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
            </ul>
            <div class="clearfix"></div>
            <a class="btn btn-primary" href="#">View All Friends</a>
          </div>
        </div>


      </div>
    </div>
  </div>



</section>

{% endblock %}