{% extends 'main/base.html'%}
{% load staticfiles %}
{% block base %}
<title>ShoutOut | Profile</title>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="profile">
          <h1 class="page-header">{{user.first_name}} {{user.last_name}}</h1>
          <div class="row">
            <div class="col-md-4 img-box">
              <img src="{% static 'main/img/user.png'%}" class="img-thumbnail">
            </div>
            <div class="col-md-8">
              <div class="input-group mb-3">

                <input type="text" class="form-control mbot-3" placeholder="First Name">
                <input type="text" class="form-control mbot-3" placeholder="Last Name">
                <input type="text" class="form-control mbot-3" placeholder="Profession">
                <input type="text" class="form-control mbot-3" placeholder="City">
                <input type="text" class="form-control mbot-3" placeholder="Cell No">
                <input type="text" class="form-control mbot-3" placeholder="Email Address">

                <select class="form-control mbot-3 " id="gender">
                  <option selected>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
                <select class="form-control mbot-3 " id='blood'>
                  <option selected>Blood Group</option>
                  <option value="A+">A+</option>
                  <option value="B+">B+</option>
                  <option value="O+">O+</option>
                  <option value="AB+">AB+</option>
                  <option value="A-">A-</option>
                  <option value="B-">B-</option>
                  <option value="O-">O-</option>
                  <option value="AB-">AB-</option>
                </select>

                <input type="submit" class="btn btn-default" style="float: right;" id="edit-btn" value="Edit">
              </div>

            </div>
          </div>
          <br></br>
          <div class=" row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Profile Wall</h3>
                </div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <textarea rows="4" class="form-control" id="text-post" placeholder="Write on the wall"></textarea>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                    <div class="pull-right">
                      <div class="btn-group">
                        <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Text</button>
                        <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i>
                          Image</button>
                        <button type="button" class="btn btn-default"> <i class="fa fa-file-video-o"></i>
                          Video</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- col-md-8 end -->

      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title">My Friends</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
            </ul>
            <div class="clearfix"></div>
            <a class="btn btn-green" href="#">View All Friends</a>
          </div>
        </div>

        <div class="panel panel-default groups">
          <div class="panel-heading">
            <h3 class="panel-title">Latest Groups</h3>
          </div>
          <div class="panel-body">
            <div class="group-item">
              <img src="img/group.png">
              <h4><a href="#">Sample Group One</a></h4>
              <p>This is a Dobble social network sample group</p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
              <img src="img/group.png">
              <h4><a href="#">Sample Group One</a></h4>
              <p>This is a Dobble social network sample group</p>
            </div>
            <div class="clearfix"></div>
            <div class="group-item">
              <img src="img/group.png">
              <h4><a href="#">Sample Group One</a></h4>
              <p>This is a Dobble social network sample group</p>
            </div>
            <div class="clearfix"></div>
            <a class="btn btn-green" href="#">View All Groups</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'main/js/profile.js'%}"></script>
{% endblock %}