{% extends 'main/base.html'%}
{% load staticfiles %}
{% block base %}
<title>ShoutOut | Profile</title>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="profile">
          <h1 class="page-header" id="full_name">{{user.first_name}} {{user.last_name}}</h1>

          <div class="row">
            <div class="col-md-4 img-box">
              <form id="up_pic">
                <div class="form-group">
                  <label for="exampleFormControlFile1">Upload Profile Picture</label>
                  <input type="file" class="form-control-file" id="pic" data-id="{{user_profile.id}}">
                  <div class="loader"></div>
                </div>
              </form>
              <img src="{{ user_profile.img.url }}" class="img-thumbnail" id="pro_pic">
            </div>
            <div class="col-md-8">
              <div class="input-group mb-3">

                <form method="POST"> {%csrf_token%}
                  <input type="text" class="form-control mbot-3" id="fname" readonly placeholder="First Name"
                    value="{{ user.first_name }}">
                  <input type="text" class="form-control mbot-3" id="lname" readonly placeholder="Last Name"
                    value="{{ user.last_name }}">
                  <input type="text" class="form-control mbot-3" id="pro" readonly placeholder="Profession"
                    value="{% if user_profile.profession|length is not 0%}{{ user_profile.profession }}{%else%}{%endif%}">
                  <input type="text" class="form-control mbot-3" id="city" readonly placeholder="City"
                    value="{% if user_profile.city|length is not 0%}{{ user_profile.city }}{%else%}{%endif%}">
                  <input type="text" class="form-control mbot-3" id="cell" readonly placeholder="Cell No"
                    value="{% if user_profile.cell|length is not 0%}{{ user_profile.cell }}{%else%}{%endif%}">
                  <input type="email" class="form-control mbot-3" id="email" readonly placeholder="Email Address"
                    value="{{ user.email }}">
                  <input type="text" class="form-control mbot-3" id="gender-show" readonly placeholder="Gender"
                    value="{% if user_profile.gender|length is not 0%}{{ user_profile.gender }}{%else%}{%endif%}">
                  <input type="text" class="form-control mbot-3" id="blood-show" readonly placeholder="Blood Group"
                    value="{% if user_profile.blood|length is not 0%}{{ user_profile.blood }}{%else%}{%endif%}">
                  <select class="form-control mbot-3 " id="gender">
                    <option selected>
                      {% if user_profile.gender|length is not 0%}{{ user_profile.gender }}{%else%}Gender{%endif%}
                    </option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                  <select class="form-control mbot-3 " id='blood'>
                    <option selected>
                      {% if user_profile.blood|length is not 0%}{{ user_profile.blood }}{%else%}Blood{%endif%}</option>
                    <option value="A+">A+</option>
                    <option value="B+">B+</option>
                    <option value="O+">O+</option>
                    <option value="AB+">AB+</option>
                    <option value="A-">A-</option>
                    <option value="B-">B-</option>
                    <option value="O-">O-</option>
                    <option value="AB-">AB-</option>
                  </select>

                  <input type="submit" class="btn btn-default float-right" id="edit-btn" value="Edit">

                </form>
                <input type="hidden" id='username' value="{{request.user}}">
                <input type="hidden" id='img_url' value="{{ user_profile.img.url }}">
              </div>

            </div>
          </div>
          <br></br>
          <div class=" row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Profile Wall</h3>
                </div>
                <div class="panel-body">
                  <form method="POST"> {%csrf_token%}
                    <div class="form-group">
                      <textarea rows="4" class="form-control" id="text-post" placeholder="Write on the wall"></textarea>
                    </div>
                    <div>
                      <p class="post-status-s">Status Uploaded!</p>
                      <p class="post-status-f">Status Uploading Failed!</p>
                      <button type="submit" class="btn btn-default float-right" id='submit-post'>Submit</button>
                    </div>
                    <div class="pull-right">

                    </div>
                  </form>
                </div>
              </div>

              <div id="recent-post"></div>
              {% for post in posts %}
              <div class="panel panel-default post" id="post-body-{{post.id}}">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-2">
                      <a class="post-avatar thumbnail" href="profile.html"><img src="{{ user_profile.img.url }}">
                        <div class="text-center">{{request.user}}</div>
                      </a>
                      <div class="likes text-center">
                        <p id="post-{{post.id}}">{{post.like}}
                          {%if post.like == 0 or post.like == 1 %}Like{%else%}Likes{%endif%}</p>
                      </div>
                    </div><!-- col-sm-2 end -->
                    <div class="col-sm-10">
                      <div class="bubble">
                        <div class="pointer">
                          <p>{{post}}</p>
                        </div>
                        <div class="pointer-border"></div>
                      </div><!-- bubble end -->
                      <p class="post-actions"><a href="#" data-id="{{post.id}}" class="delete-post">Delete</a></p>
                      <p class="time">{{post.date|date}}</p>
                      <div class="comment-form">
                        <form class="form-inline">
                          <div class="form-group">
                            <input type="text" class="form-control" id="text-comment-{{post.id}}"
                              placeholder="Enter Comment">
                          </div>
                          <button type="submit" data-id="{{post.id}}" class="btn btn-default btn-comment">Add</button>
                        </form>
                      </div><!-- comment form end -->
                      <div class="clearfix"></div>
                      {% for com in post.comment.all %}
                      <div class="comments">
                        <div class="comment">

                          <a class="comment-avatar pull-left" href="#"><img
                              src="{%for person in com.person.all %}{{ person.img.url }}{%endfor%}"></a>
                          <div class="comment-text">
                            <p>{{com.comment}}</p>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      {%endfor%}

                      <div id="add-comment-{{post.id}}"></div>
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}

            </div>
          </div>
        </div>

      </div><!-- col-md-8 end -->

      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title">My Friends</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
              <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>
            </ul>
            <div class="clearfix"></div>
            <a class="btn btn-green" href="#">View All Friends</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div>{% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}" class="btn btn-success pagination-btn">
      Page {{ posts.previous_page_number }}</a> {%endif%} {% if posts.has_next %} <a
      href="?page={{ posts.next_page_number }}" class="btn btn-success float-right pagination-btn">Page
      {{ posts.next_page_number }}
    </a>
    {%endif%}</div>
  <div class="button_cont" align="center"><a class="example_c" href="#" rel="nofollow noopener">Move to Top</a>
  </div>
</section>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static 'main/js/profile.js'%}"></script>
{% endblock %}